<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime
import json
from datetime import datetime
import os

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [3]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-07-22 13:14:54--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: 'bank_market_cap_1.json.2'

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2023-07-22 13:14:56 (1.31 GB/s) - 'bank_market_cap_1.json.2' saved [2815/2815]

--2023-07-22 13:14:56--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: 'bank_market_cap_2.json.2'

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2023-07-22 13:14:57 (681 MB/s) - 'bank_market_cap_2.json.2' saved [1429/1429]

--2023-07-22 13:14:57--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: 'exchange_rates.csv.2'

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2023-07-22 13:14:58 (563 MB/s) - 'exchange_rates.csv.2' saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:
columns=['Name','Market Cap (US$ Billion)']

In [6]:
file = 'bank_market_cap_1.json'

In [7]:
def extract_function(file, columns):
    df = extract_from_json(file) # use the functioned that has been declared above
    df.columns = columns # specify columns if the df using the list of predefined values
    return df

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [8]:
# Write your code here
exchange_rates = pd.read_csv('exchange_rates.csv')
exchange_rates.columns = ['currency', 'rate']

In [9]:
currency_id = 'GBP'

In [10]:
# here we extract the exact numerical value for GBP

exchange_rate = exchange_rates.loc[exchange_rates['currency'] == currency_id]['rate'].item()

In [11]:
print(f'Exchange rate for {currency_id} equals to {exchange_rate}')

Exchange rate for GBP equals to 0.7323984208000001

In [12]:
# sample of the file

exchange_rates.sample(5)

   currency       rate
26      RUB  74.930827
11      HRK   6.222652
22      NZD   1.393733
23      PHP  48.070406
3       CAD   1.271426

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [13]:
def transform(df, rates, currency_id):
    # get the exchange rate of desired currency
    rate = rates.loc[exchange_rates['currency'] == currency_id]['rate'].item()
    
    # recalculate Market Caps by multiplying to currency ration
    df['Market Cap (US$ Billion)'] = df['Market Cap (US$ Billion)'] * rate
    
    # rename the market cap column using currency_id
    new_column_name = f'Market Cap ({currency_id} Billion)'
    df = df.rename(columns={'Market Cap (US$ Billion)' : new_column_name})
    
    # return dataframe
    return df

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [15]:
def load(df, file_path):
    data_transformed.to_csv(file_path)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [16]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    
    filename = "logfile.txt"
    
    if not os.path.isfile(filename):
        open(filename, 'w').close()
        
    with open(filename, "a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [17]:
# Write your code here
log('ETL Job Started')

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [18]:
# Call the function here
data = extract_function(file, columns)

# Print the rows here
data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [19]:
# Write your code here
log('Extract phase Ended')

### Transform

Log the following  <code>"Transform phase Started"</code>

In [20]:
# Write your code here
log('Transform phase Started')

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [21]:
# Call the function here
data_transformed = transform(data, exchange_rates, 'GBP')

# Print the first 5 rows here
data_transformed.head()

                                      Name  Market Cap (GBP Billion)
0                           JPMorgan Chase                286.319444
1  Industrial and Commercial Bank of China                252.834188
2                          Bank of America                238.271911
3                              Wells Fargo                225.588235
4                  China Construction Bank                188.518621

Log your data <code>"Transform phase Ended"</code>

In [22]:
# Write your code here
log('Transform phase Ended')

### Load

Log the following `"Load phase Started"`.

In [23]:
# Write your code here
log('Load phase Started')

Call the load function

In [26]:
# Write your code here
load(data_transformed, 'bank_market_cap_gbp.csv')

Log the following `"Load phase Ended"`.

In [27]:
# Write your code here
log('Load phase Ended')

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).